@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
*{
    margin: 0;
}

body{
    background-image: url("../imports/deco/fond.gif");
    font-family: 'IM Fell English', serif;
    scrollbar-color: blue lime;
}

body.avertissement{
    background-image: url("../imports/deco/danger-fond.gif");
}

body.pokedex{
    background-image: url("../imports/deco/fond\ pokedex.gif")
}

body.complot{
    background-image: url("../imports/deco/illuminati\ 2.gif");
    background-size: 150px;
}

body.philosophik{
    background-image: url("../imports/deco/philosophie\ fond\ 1.gif");
    background-size: 150px;
}

.avertissement p{
    text-align: center;
    color: lime;
}

ul{
    padding: 0;
}

a div h2{
    text-align: center;
}

.top{
    transition: .3s;
}

.top:hover{
    transform: scale(1.2);
}

h1{
    text-align: center;
    color: rgb(60, 255, 0);
    background-image: url("../imports/deco/epileptik.gif");
    text-shadow: 2px 2px 3px red;
    font-size: 3em;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.end{
    padding-bottom: 150px;
}

div.gallerie{
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 0px;
} 

div.gallerie img.item-gallerie{
    display: inline-block;
    text-align: center;
}

img.item-gallerie{
    width: 175px;
    height: 175px;
    object-fit: cover;
    opacity: 95%;
    transition: .3s;
}

img.item-gallerie:hover{
    transform: scale(1.1) rotate(10deg);
}

div.link{
    margin: 0px;
    padding-top: 30px;
    text-align: center;
}

li{
    display: inline-block;
    list-style-type: none;
}

li.others{
    padding-left: 80px;
}

a.link{
    background-color: red;
    opacity: 95%;
}

a:hover{
    color: yellow;
}

div.content{
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 100px;
}

div.end p{
    text-align: center;
    color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0);
    text-decoration: none;
}

div.end p:hover{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px red;
}

.top{
    background-image: url("../imports/deco/crade.gif");
    height: 200px;
}

img.danger-right, img.danger-left{
    width: 70px;
    height: 70px;
}

.contener2{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 255, 0);
}

.avertissement{
    padding-top: 100px;
}

audio{
    padding-left: 20%;
    padding-right: 20%;
}

.radio{
    background-image: url("../imports/deco/external-content.duckduckgo.com.gif");
    position: fixed;
    bottom: 5px;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: lime;
    text-shadow: 1px 1px rgb(38, 0, 255);
    font-size: smaller;
    height: 120px;
    background-size: 225px;
}

.tractoword{
    display: grid;
    justify-items: center;
    padding-left: 35%;
}

h3.tractoword{
    color: lime;
    rotate: -15deg;
    text-shadow: 1px 1px 1px blue;
    animation: epileptik 1s linear infinite;
}

@keyframes epileptik {  
    50% { color: red; }
}

body.pokedex{
    background-image: url("../imports/deco/fond\ pokedex.gif");
    background-size: 200px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 150px;
    width: 80%;
    padding-left: 10%;
}

.article{
    background-color: rgba(21, 255, 0, 0.699);
    margin-top: 30px;
    width: 100%;
    padding: 10px;
}

img.complot-image{
    padding-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.phrases-contener{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%
}

.phrases{
    background-image: url("../imports/deco/280px-Raphael_Ecole_d\'Athenes_detail_Diogene.jpg");
    margin: 20px;
    width: 100%;
    min-height: 100px;
    color: rgb(0, 255, 0);
    text-shadow: 2px 2px 1px red;
}

h4{
    margin-top: 20px;
    text-decoration: underline;
}